@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --text: #fafcff;
  --background: #010a18;
  --primary: #220cca;
  --secondary: #25033a;
  --accent: #9e18f2;
}
.login-header h1,
.login-header p {
  text-shadow: 8px 8px var(--secondary);
}
#login-in-button,
#register-button,
.login-section {
  background-color: var(--background);
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins";
  padding: 2%;
}
.container {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 80px);
  overflow: hidden;
}
.login-section {
  align-items: center;
  border-radius: 3%;
  border: 2px solid var(--background);
  box-shadow: 0 0 16px 16px var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5%;
}
.login-header {
  margin-bottom: 14%;
}
.login-header h1 {
  font-size: 250%;
  margin-bottom: 2%;
}
.login-header p {
  opacity: 0.7;
}
.login-form {
  width: 110%;
}
.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login-form-footer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.login-form a {
  position: relative;
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.login-form a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.login-form a:hover {
  color: var(--accent);
}
.login-form a:hover::after {
  transform: scaleX(1);
}
.form-item-options {
  display: flex;
  justify-content: space-around;
}
.form-item label:not(.checkboxLabel) {
  background-color: var(--background);
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  transform: translate(30px, -10px);
  color: var(--text);
}
label {
  border-radius: 20px;
  cursor: pointer;
}
.password-container {
  position: relative;
}
.password-toggle-button {
  background: 0 0;
  border: none;
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  outline: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.fa-eye,
.fa-eye-slash {
  color: var(--primary);
  font-size: 28px;
}
.error-message,
.password-input:focus + .password-toggle-button .fa-eye,
.password-input:focus + .password-toggle-button .fa-eye-slash,
.password-toggle-button:hover .fa-eye,
.password-toggle-button:hover .fa-eye-slash {
  color: var(--primary);
}
input[type="password"],
input[type="text"] {
  background: 0 0;
  border: 2px solid var(--secondary);
  border-radius: 100px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3);
  color: var(--text);
  font-size: 18px;
  height: 55px;
  padding: 0 2rem;
  transition: background 0.5s;
  width: 100%;
}
input[type="password"]:hover,
input[type="text"]:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--primary);
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
input[type="password"]:focus,
input[type="text"]:focus {
  border: 3px solid var(--primary);
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
  outline: 0;
}
input[type="password"]:not(:placeholder-shown) + label,
input[type="text"]:not(:placeholder-shown) + label {
  background-color: var(--background);
  font-size: 14px;
  opacity: 1;
  padding: 0 10px;
  transform: translate(30px, -30px);
  color: var(--text);
}
.checkbox {
  align-items: center;
  display: flex;
  gap: 7px;
}
.checkbox input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: 2px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}
.checkbox input[type="checkbox"]:hover {
  border-color: var(--primary);
}
.checkbox input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: var(--accent);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.checkbox input[type="checkbox"]:checked:before {
  opacity: 1;
}
.forgot {
  float: left;
  position: relative;
}
#login-in-button,
#register-button {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  color: var(--text);
  cursor: pointer;
  font-size: 18px;
  height: 55px;
  padding: 1rem;
  text-transform: uppercase;
}
#login-in-button:hover,
#register-button:hover {
  color: var(--accent);
  animation: 1s infinite pulse;
  transition: 0.2s;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}
.error-message {
  background-color: var(--background);
  font-weight: 700;
  font-size: 18px;
  margin: 12px;
  margin-top: 26px;
  padding: 12px;
  box-shadow: 0 0 16px 16px var(--secondary);
  border: none;
  border-radius: 10px;
}
.my-custom-popup-class {
  background-color: var(--background) !important;
  color: var(--text) !important;
  font-family: Inter, sans-serif !important;
  font-size: 16px !important;
}
.my-custom-title-class {
  font-size: 24px !important;
  color: var(--text) !important;
}
.my-custom-content-class {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  font-weight: 700 !important;
  color: var(--text) !important;
}
.my-custom-button-class {
  background-color: var(--primary) !important;
  color: var(--text) !important;
  font-weight: 700 !important;
}
::selection {
  background-color: var(--accent);
}
