@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);
body,
input[type="text"],
textarea {
  background-color: var(--background);
  color: var(--text);
}
.my-custom-button-class,
.my-custom-content-class {
  color: var(--text) !important;
  font-weight: 700 !important;
}
:root {
  --text: #fafcff;
  --background: #010a18;
  --primary: #220cca;
  --secondary: #25033a;
  --accent: #9e18f2;
}
input[type="text"],
textarea {
  width: 45%;
  margin-bottom: 10px;
  box-shadow: 0 0 28px 28px var(--secondary);
  border: none;
  transition: box-shadow 0.3s;
}
body {
  font-family: Poppins;
}
#image-input {
  color: var(--text);
  border: none;
  border-radius: 5px;
  transition: color 0.3s;
}
#image-input::file-selector-button {
  background-color: var(--primary);
  color: var(--text);
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#image-input::file-selector-button:hover {
  background-color: var(--secondary);
}
#image-input::file-selector-button:active {
  background-color: var(--accent);
}
#image-input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--accent);
}
h1 {
  text-align: center;
  margin-top: 15%;
  animation: 1s ease-out fadeInUp;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 1s ease-out fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
label {
  margin-bottom: 10px;
}
textarea {
  height: 200px;
}
button,
input[type="submit"] {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}
button:hover,
input[type="submit"]:hover {
  background-color: var(--secondary);
}
input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.my-custom-popup-class {
  background-color: var(--background) !important;
  color: var(--text) !important;
  font-family: Inter, sans-serif !important;
  font-size: 16px !important;
}
.my-custom-title-class {
  font-size: 24px !important;
  color: var(--text) !important;
}
.my-custom-content-class {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-custom-button-class {
  background-color: var(--primary) !important;
}
::selection {
  background-color: var(--accent);
}
