@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);
#image-input,
.info-code a,
.post a,
body,
footer,
footer span {
  color: var(--primary-color);
}
a,
footer,
ul li {
  position: relative;
}
#to-top-btn,
a:before,
ul li a {
  transition: 0.3s ease-in-out;
}
.info-code a,
.logo h1 a,
.post a,
a,
footer a,
ul li a,
ul li a:hover {
  text-decoration: none;
}
a:before,
ul li a:before {
  content: "";
  left: 0;
  position: absolute;
  transform: scaleX(0);
  visibility: hidden;
  width: 100%;
}
a:hover:before,
ul li a:hover:before {
  transform: scaleX(1);
  visibility: visible;
}
.info-code,
.post,
header {
  box-shadow: 0 0 24px 24px var(--secondary-button-color);
}
#to-top-btn:hover,
ul li a:hover {
  transform: scale(1.1);
}
#to-top-btn,
#to-top-btn:hover {
  box-shadow: 0 4px 8px var(--secondary-button-color);
}
:root {
  --primary-color: #f2f1fd;
  --secondary-color: #151515;
  --primary-button-color: #cd18be;
  --secondary-button-color: #1b1918;
  --accent-color: #f7bbf2;
}
.logo,
header {
  display: flex;
}
#image-input {
  border: none;
  border-radius: 5px;
}
#image-input::file-selector-button {
  background-color: var(--primary-button-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#image-input::file-selector-button:hover {
  background-color: var(--secondary-button-color);
  transition: background-color 0.3s;
}
#image-input::file-selector-button:active {
  background-color: var(--accent-color);
  transition: background-color 0.3s;
}
#image-input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--accent-color);
}
.image-container {
  max-width: 100%;
  overflow: hidden;
}
.post-image {
  max-width: 100%;
  height: auto;
}
#cookies button:hover,
#cookies:hover {
  animation: 1s infinite pulse;
  transition: 0.2s;
  transform: scale(1.05);
}
#cookies button,
ul li a:before {
  background-color: var(--primary-button-color);
}
.not-login,
ul li a:hover {
  color: var(--accent-color);
}
#cookies,
#navbar-code {
  background-color: rgba(0, 0, 0, 0.4);
}
#to-top-btn,
footer,
header {
  padding: 10px;
}
#cookies,
.code-script-all,
.info-code h2,
.logo,
.post h2,
footer,
main {
  text-align: center;
}
footer span,
ul li a {
  font-weight: 600;
}
.logo h1 a,
ul li a {
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline;
  margin-right: 20px;
}
a {
  color: #000;
}
#cookies button,
.info-code p,
.post p,
footer a,
header {
  color: var(--primary-color);
}
a:before {
  height: 1px;
  bottom: -3px;
  background-color: #000;
}
footer a:hover {
  color: var(--accent-color);
  transition: 0.5s;
}
body {
  background-color: var(--secondary-color);
  font-family: Poppins;
}
.container {
  margin: 0 auto;
  max-width: 1550px;
  padding: 20px;
}
.logo {
  align-items: center;
  animation: 2s fade-in;
  justify-content: center;
}
#cookies,
.hidden {
  display: none;
}
.logo h1 a {
  font-size: xx-large;
}
.info-code a:hover,
.post a:hover,
footer a:hover {
  text-decoration: underline;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  animation: 1s slide-down;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 3%;
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
#cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  transition: bottom 0.5s ease-out;
}
#cookies button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#cookies button:hover {
  background-color: var(--secondary-button-color);
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}
ul li {
  display: inline-block;
  margin: 0 10px;
}
ul li a:before {
  bottom: 0;
  height: 2px;
  transition: 0.3s ease-in-out 0;
}
header ul li a:active {
  transform: scale(0.9);
}
main {
  display: block;
}
.show-new-post {
  margin-left: 46%;
  margin-top: -20px;
  margin-bottom: 10px;
}
.info-code,
.post {
  margin-bottom: 20px;
  padding: 20px;
  background: var(--secondary-color);
}
.non-posts,
footer {
  box-shadow: 0 0 28px 28px var(--secondary-button-color);
}
.code-script-all {
  display: flex;
  flex-wrap: wrap;
}
#navbar-code {
  border-radius: 10px;
  margin-bottom: 32px;
  padding: 8px;
}
.info-code {
  border-radius: 16px;
  display: flex;
  flex-basis: calc(33.33% - 20px);
  flex-wrap: wrap;
  min-width: 38%;
  text-align: left;
}
.info-code h2 {
  font-size: 24px;
  justify-content: center;
  margin: 0 0 10px 22%;
  height: 30px;
}
.info-code b,
.info-code code {
  color: var(--primary-color);
  margin: 5px;
}
.info-code p {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 12px 12px;
}
.info-code a,
.post a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
#to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
}
#arrow-up {
  width: 20px;
  height: 20px;
}
.post {
  border-radius: 16px;
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  min-width: 97.5%;
}
pre {
  display: flex;
  align-items: center;
}
.post:last-child {
  margin-right: 0;
}
.post h2 {
  font-size: 24px;
  margin: 0 0 18px;
}
.post p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
footer {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  margin: 0 auto;
  border-radius: 10px;
  clear: both;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-button-color);
  border-radius: 5px;
}
.non-posts {
  background-color: var(--secondary-color);
  padding: 15px;
  margin: 10px 10px 35px 15%;
  width: 70%;
  border-radius: 10px;
  text-align: center;
}
.message-posts {
  color: var(--accent-color);
  font-size: 20px;
}
.my-custom-popup-class {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 10px !important;
  padding: 20px !important;
  box-shadow: 0 2px 8px var(--secondary-button-color) !important;
}
.my-custom-title-class {
  font-size: 24px !important;
  font-weight: 700 !important;
  margin-bottom: 10px !important;
}
.my-custom-content-class {
  font-size: 18px !important;
  margin-bottom: 20px !important;
}
.my-custom-button-class {
  background-color: var(--accent-color) !important;
  color: var(--primary-color) !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  margin-right: 10px !important;
}
.my-custom-button-class:hover {
  background-color: var(--accent-color) !important;
  opacity: 0.8 !important;
}
.my-custom-button-class:focus {
  outline: 0 !important;
}
::selection {
  background-color: var(--accent-color);
}
