@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --background-gradient: #232323;
  --container-background: #323232;
  --shadow-color: rgba(0, 0, 0, 0.35);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
}

.privacy-policy {
  background-color: var(--container-background);
  border-radius: 30px;
  box-shadow: 0 5px 15px var(--shadow-color);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 20px;
  padding: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  line-height: 1.5em;
  margin-bottom: 15px;
}
